{% extends '@KoalamonIntegration/Master/systemaware.html.twig' %}

{% block integration_name %}
    JsErrorScanner
{% endblock %}

{% block integration_description %}
    <div class="infobox">
        The JsErrorScanner checks the given systems for JavaScript errors. For the check it uses a PhantomJS browser. A headless webkit.
    </div>
{% endblock %}

{% block global_settings %}

    {% if optionsTemplate %}

        <div class="settings-global">
            <input type="hidden" name="status" value="selected">

            <h2>Global Settings</h2>
            <p>
                The settings you select in this paragraph will be applied to all systems that inherit from the global settings.
            </p>
            {% include optionsTemplate with { 'system': config, 'options': config.options, 'elementName': 'options' } %}
        </div>
    {% endif %}

{% endblock %}

{% block systems %}

    <table class="big-table system-table">
        <thead>
        <tr>
            <td class="checkbox-col">Active</td>
            <td class="name">Name</td>
            <td>Subsystems</td>
            <td class="checkbox-col">Inherit</td>
            <td>Options</td>
        </tr>
        </thead>

        <tbody>
        {% for system in systems %}
            <tr class="highlightable mainsystem system" data-system-id="{{ system.id }}" id="system-{{ system.id }}">
                <td class="active-cell">
                    <input onclick="window.event.cancelBubble = true; window.event.stopPropagation();"
                           type="checkbox"
                           name="systems[{{ system.id }}][enabled]"
                           {% if integratedSystems[system.id] is defined %}checked=checked{% endif %} />
                </td>
                <td>{{ system.name }}</td>
                <td>{{ system.subsystems | length }}</td>
                <td><input onclick="window.event.cancelBubble = true; window.event.stopPropagation();" type="checkbox" name="systems[{{ system.id }}][inherit]"
                           {% if not integratedSystems[system.id] is defined or (integratedSystems[system.id] is defined and integratedSystems[system.id].inherit) %}checked="checked"{% endif %}>
                </td>
                <td class="option-cell">
                    <div class="options-enabled">{% if integratedSystems[system.id] is defined and integratedSystems[system.id].options | length > 0  and integratedSystems[system.id].options != {0: false} %}enabled{% endif %}</div>
                    <div class="options">

                        {% include "@KoalamonIntegration/Partials/options.html.twig" with {'system' : system} %}

                    </div>
                </td>
            </tr>
            {% for subsystem in system.subsystems %}
                <tr class="subsystem system highlightable" data-system-id="{{ subsystem.id }}" id="system-{{ subsystem.id }}">
                    <td class="active-cell">
                        <input onclick="window.event.cancelBubble = true; window.event.stopPropagation();"
                               type="checkbox"
                               name="systems[{{ subsystem.id }}][enabled]"
                               {% if integratedSystems[subsystem.id] is defined %}checked=checked{% endif %} />
                    </td>
                    <td>{{ subsystem.name }}</td>
                    <td></td>
                    <td><input onclick="window.event.cancelBubble = true; window.event.stopPropagation();"
                               type="checkbox" name="systems[{{ subsystem.id }}][inherit]"
                               {% if not integratedSystems[subsystem.id] is defined or (integratedSystems[subsystem.id] is defined and integratedSystems[subsystem.id].inherit) %}checked="checked"{% endif %}>
                    </td>
                    <td class="option-cell">
                        <div class="options-enabled">{% if integratedSystems[subsystem.id] is defined and integratedSystems[subsystem.id].options | length > 0  and integratedSystems[subsystem.id].options != {0: false} %}enabled{% endif %}</div>
                        <div class="options">
                            {% include "@KoalamonIntegration/Partials/options.html.twig" with {'system' : subsystem} %}

                        </div>
                    </td>
                </tr>
            {% endfor %}
        {% endfor %}
        </tbody>

    </table>

    <script>

        $('.system').click(function () {
            systemId = $(this).attr('data-system-id');

            modal = new ModalHandler();
            modal.showModal($('#options-' + systemId).html() + '<button onclick="$.modal.close();" class="ok">OK</button>', 1250, 500, null, function () {
                numberOfOptions = $('#modal .modalOption input[type="hidden"]').length;
                optionsActiveDiv = $('#system-' + $('#modal .modalOption').attr('data-system-id') + ' .options-enabled');

                if (numberOfOptions > 0) {
                    optionsActiveDiv.html('enabled');
                } else {
                    optionsActiveDiv.html('');
                }

                $('#options-' + $('#modal .modalOption').attr('data-system-id')).html($('#modal .modalOption').prop('outerHTML'));
            });
        });

    </script>

{% endblock %}
