{#<input type="checkbox" name="{{ elementName }}[seoReobotsTxt]"
       {% if options.seoReobotsTxt is defined %}checked=checked{% endif %}> Check robots.txt file#}

{% set elementNameNormalized = elementName | replace('[', '_') | replace(']', '_') %}

<div id="options_{{ elementNameNormalized }}">
    <span style="font-weight: 400">XPaths</span>
</div>

<div style="clear: both"></div>

<script>
    {% for xpaths in options %}
    {% for xpath in xpaths %}
    addXPathElement('{{ elementNameNormalized }}', '{{ elementName }}', '{{ xpath }}');
    {% endfor %}
    {% endfor %}
</script>

<input id="{{ elementNameNormalized }}_xpath" type="text" placeholder="url" style="width: 300px; margin-right: 20px">

<button style="padding: 3px" onclick="addXPath('{{ elementNameNormalized }}', '{{ elementName }}'); return false;">add</button>